.login-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 250px;
    margin-top: 30px;
    padding: 20px;
    background-color: #6605b53b;
    border: 2px solid rgb(138, 10, 104);
    border-radius: 15px;
    color: azure;
    font-size: medium;
  font-family: "Yatra One", system-ui;
}

.login-form input{
      height: 25px;
      padding: 0 10px;
  border-radius: 6px;
}

.login-form button{
    text-align: center;
    margin: auto;
    border-radius: 7px;
    width: 70px;
    height: 30px;
    margin-top: 5px;
}

.register-form-link-msg{
    text-align: center;
    color: azure;
    padding: 10px;
}

.login-message{
    text-align: center;
    color: #dd2d4a;
}

.login-form-heading{
    color: azure;
    margin-top: 100px;
    text-align: center;
}

.form-container{
    margin-right: 80px;
}