

.navbar-left-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navbar-right-element {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-right-element a{
    text-decoration: none;
    color: azure;
}
.navbar-right-element a:hover{
    cursor: pointer;
    transition-duration: 200ms;
    color: rgb(248, 27, 189);
}

.navbar-elements {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  background-color: #040f0f;
}

.navbar-below-line {
  border: none;
  border-top: 1px solid #b0a0ae89;
}

.navbar-left-element  button{
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 7px;
    background-color: azure;
    border: none;
    cursor: pointer;
}

.navbar-left-element  button:hover{
    transition-duration: 300ms;
    background-color: rgb(212, 15, 160);
    color: rgb(255, 255, 255);
}
.navbar-left-element  button:active{
    background-color: rgb(143, 144, 144);
}


.navbar-left-element-link a{
    text-decoration: none;
    color: azure;
}


.navbar-left-element-link a:hover{
    transition-duration: 200ms;
    color: rgb(248, 27, 189);
}

.navbar-left-element-link a:active{
    color: rgba(182, 4, 134, 0.645);
}

.navbar-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;          /* Ensure full width */
  z-index: 1000;         /* Keep it above other content */
  
}