.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #6605b53b;
  border: 2px solid rgb(138, 10, 104);
  color: azure;
  border-radius: 15px;
  font-size: medium;
  font-family: "Yatra One", system-ui;
}

.register-form-heading {
  color: azure;
  text-align: center;
  margin-top: 10px;
}

.register-form input {
  height: 15px;
  border-radius: 6px;
}
.register-form button {
  text-align: center;
  margin: auto;
  border-radius: 7px;
  width: 70px;
  height: 30px;
  margin-top: 5px;
}

.login-form-link-msg {
  text-align: center;
  color: azure;
  padding: 10px;
}

.registerform-container {
  display: flex;
  justify-content: space-around;
  background-color: #040f0f;
}

.left-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-side-container h1 {
  font-size: 70px;
  font-family: "Yatra One", system-ui;
  color: #f6f6f6;
}

.left-side-container p {
  font-size: 15px;
  font-family: "Yatra One", system-ui;
  color: #f6f6f6;
  width: 600px;
  text-align: center;
}

/* .registerflex-second-element{
    align-self: stretch;
} */
