.register-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 30px;
    background-color: #ccdbfd;
    /* border: 1px solid black; */
    border-radius: 15px;
    font-size: larger;
    font-family: "Yatra One", system-ui;
}

.register-form input{
    height: 25px;
    border-radius: 10px;
}
.register-form  button{
    text-align: center;
    margin: auto;
    border-radius: 7px;
    width: 70px;
    height: 30px;
    margin-top: 5px;
}

.login-form-link-msg{
    text-align: center;
}

.registerform-container{
    display: flex;
    justify-content: space-around;

}

/* .registerflex-second-element{
    align-self: stretch;
} */